Repository NHSDigital/nhs-notify-web-cms-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/nhs-notify-amet, @NHSDigital/nhs-notify-web-cms, @NHSDigital/nhs-notify-code-owners

Match changes to 'remove date of birth' commit
  docs/pages/using-nhs-notify/message-status.md
  docs/pages/using-nhs-notify/personalisation.md
Owners: @NHSDigital/nhs-notify-web-cms

Reword 'If you're using...' to each integration option
  docs/pages/using-nhs-notify/tell-us-who-you-want-to-message.md
Owners: @NHSDigital/nhs-notify-web-cms

update ruby version
  .github/workflows/jekyll-gh-pages.yml
Owners: @NHSDigital/nhs-notify-amet

CCM-8593: CSP compliance
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Owners: @NHSDigital/nhs-notify-amet, @NHSDigital/nhs-notify-web-cms

Initial draft
  docs/_data/footer-navigation.yml
  docs/pages/footer/accessibility.md
  docs/pages/footer/cookies.md
Owners: @NHSDigital/nhs-notify-web-cms

.github/CODEOWNERS:

# NHS Notify Code Owners

*                         @NHSDigital/nhs-notify-amet

/.github/                 @NHSDigital/nhs-notify-amet
*.code-workspace          @NHSDigital/nhs-notify-amet

/docs/                    @NHSDigital/nhs-notify-amet
/docs/_config.yml         @NHSDigital/nhs-notify-web-cms
/docs/_config.dev.yml     @NHSDigital/nhs-notify-web-cms
/docs/_data/              @NHSDigital/nhs-notify-web-cms
/docs/_includes/          @NHSDigital/nhs-notify-web-cms
/docs/_layouts/           @NHSDigital/nhs-notify-web-cms
/docs/_sass/              @NHSDigital/nhs-notify-web-cms
/docs/_data/              @NHSDigital/nhs-notify-web-cms
/docs/assets/             @NHSDigital/nhs-notify-web-cms
/docs/collections/        @NHSDigital/nhs-notify-web-cms
/docs/pages/              @NHSDigital/nhs-notify-web-cms
/scripts/config/vale/vale.ini  @NHSDigital/nhs-notify-web-cms
# Default protection for codeowners, must be last in file.
/.github/CODEOWNERS       @NHSDigital/nhs-notify-code-owners
/CODEOWNERS               @NHSDigital/nhs-notify-code-owners
